a {
    outline: none
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    font-weight: normal;
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    color: #b5e853;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1)
}

body {
    margin: 0;
    padding: 0;
    background: #000 url(../images/bkg.png) 0 0;
    color: #eaeaea;
    font-size: 16px;
    line-height: 1.5;
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    overflow-x: hidden;
}

li {
    line-height: 1.4
}

table {
    width: 100%;
    margin: 0 0 20px 0
}

th {
    text-align: left;
    border-bottom: 1px dashed #b5e853;
    padding: 5px 10px
}

td {
    padding: 5px 10px
}

hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed #b5e853;
    color: #b5e853
}

a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
    text-decoration: none
}

ul li {
    list-style-image: url(../images/bullet.png)
}

#form-dork, #table-dork {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

#content {
    min-height: calc(100vh - 120px);
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    background-color: rgba(0, 0, 255, .1);
    color: #b5e853;
}

footer {
    width: 100%;
    background-color: rgba(12, 12, 13, 0.1);
    border-top: 2px solid rgba(12, 12, 13, 0.4);
    height: 50px;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

thead {
    background-color: rgba(12, 12, 13, 0.1);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid rgba(12, 12, 13, 0.2);
}

td:first-child {
    max-width: 0;
    overflow: hidden;
}

#table-dork tbody tr:nth-child(even) {
    background-color: rgba(181, 232, 83, 0.4) !important;
}

#table-dork tbody tr:nth-child(odd) {
    background-color: rgba(99, 192, 245, .4) !important;
}

.button {
    display: inline-block;
    width: 22px;
    height: 22px;
}

.button img {
    width: 22px;
}

.dataTables_length,
.dataTables_info,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_filter {
    color: #b5e853 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #333 !important;
}

#fix-width, #table-dork td:last-child {
    width: 40px !important;
    max-width: 40px !important;
}
